html {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}
:root {
  --nexa-light: "nexa-light", sans-serif;
  --nexa-bold: "nexa-bold", sans-serif;
  --bebas: "Bebas Neue", sans-serif;
  --integral-regular: "integral-regular", sans-serif;
  --integral-bold: "integral-bold", sans-serif;
  --raleway: "Raleway", sans-serif;
  --primary-red: #ff3500;
  --black: #141414;
  --white: #ffffff;
  --gray: #bababa;
  --dark-gray: #292929;
  --very-dark-gray: #1c1c1c;
  --dark-red: #b1060f;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ff3500;
}
.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff3500;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}
.landing {
  display: flex;
}
.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 50px;
}
@keyframes grain {
  0% {
    -webkit-transform: translate(10%, -15%);
    transform: translate(10%, -15%);
  }
  10% {
    -webkit-transform: translate(-10%, -15%);
    transform: translate(-10%, -15%);
  }
  10% {
    -webkit-transform: translate(10%, -5%);
    transform: translate(10%, -5%);
  }
  30% {
    -webkit-transform: translate(-10%, -5%);
    transform: translate(-10%, -5%);
  }
  40% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  50% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  60% {
    -webkit-transform: translate(10%, 15%);
    transform: translate(10%, 15%);
  }
  70% {
    -webkit-transform: translate(-10%, 15%);
    transform: translate(-10%, 15%);
  }
  80% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }
  90% {
    -webkit-transform: translate(-10%, 5%);
    transform: translate(-10%, 5%);
  }
  to {
    -webkit-transform: translate(10%, -5%);
    transform: translate(20%, -5%);
  }
}
body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--raleway);
  overflow-x: hidden;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--white);
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: var(--primary-red);
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.25rem;
  color: var(--black);
  transition: box-shadow 0.4s;
}
.btn:hover {
  box-shadow: rgba(177, 6, 15, 0.26) 0 35px 50px;
  -webkit-box-shadow: rgba(177, 6, 15, 0.26) 0 35px 50px;
  -moz-box-shadow: rgba(177, 6, 15, 0.26) 0 35px 50px;
}
.btn2 {
  display: inline-block;
  padding: 17px 34px;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  background-color: #ff3500;
  font-size: 16px;
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.4s;
  color: #141414;
}
.btn2:hover {
  box-shadow: rgba(177, 6, 15, 0.26) 0 35px 80px;
  -webkit-box-shadow: rgba(177, 6, 15, 0.26) 0 35px 80px;
  -moz-box-shadow: rgba(177, 6, 15, 0.26) 0 35px 80px;
}
.link {
  display: inline-block;
  color: var(--gray);
  text-decoration: underline;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 30px;
  font-weight: 400;
  padding-left: 20px;
}
section {
  padding: 50px 0;
}
.section-header {
  text-align: center;
  margin-bottom: 50px;
}
.section-header h2 {
  font-size: 50px;
  font-family: var(--bebas);
}
.section-header p {
  font-size: 16px;
  opacity: 0.7;
  margin-top: 20px;
}
@keyframes fadeOut {
  0% {
    opacity: 0.95;
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.95;
  }
}
header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 7vh;
  z-index: 10;
  backdrop-filter: blur(5px);
}
@supports (
  (-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))
) {
  header {
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}
#background .backgroundGradient {
  position: absolute;
  height: 100%;
  opacity: 0.5;
  overflow: hidden;
}
#gradient01 {
  left: 0;
  position: absolute;
  object-fit: contain;
  transform: translate(-40%, 25%);
}
#gradient02 {
  position: absolute;
  object-fit: contain;
  transform: translate(40%, -25%);
  right: 0;
}
.backgroundGradient {
  top: 0;
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navBarCTA {
  color: var(--black);
  font: 0.95rem;
}
header .header .logo {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 800;
  cursor: pointer;
}
header .header .logo svg {
  margin-right: 5px;
}
header .header .logo span {
  color: var(--primary-red);
}
header .header ul li {
  display: inline-block;
  margin: 0 15px;
}
header .header ul li a {
  font-weight: 500;
  font-size: 16px;
  color: var(--white);
  text-transform: capitalize;
}
.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .content {
  width: 95%;
  margin: 0 0;
  transform: scale(1.1);
  text-align: center;
}
.secondaryHeader {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}
.hero .content h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-family: var(--bebas);
  line-height: 40px;
}
.hero .content h1 span {
  color: var(--primary-red);
}
.hero .content p {
  opacity: 0.7;
}
.hero .content .btn-box {
  margin-top: 100px;
}
.hero .content .btn-box .btn2 {
  padding: 15px 40px;
}
.section-2 {
  position: relative;
}
.section-2 .content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: none;
}
.section-2 .content img {
  width: 200px;
}
.section-3 {
  background-color: var(--primary-red);
  background-image: url(https://flixforever.github.io/tm90d/images/section-3-background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  position: relative;
  overflow: hidden;
}
.section-3::after,
.section-3::before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
}
.section-3::before {
  top: 0;
  border-top: 200px solid var(--black);
  border-right: 100vw solid transparent;
  transform: translateY(-1px);
}
.section-3::after {
  top: 100%;
  border-bottom: 200px solid var(--black);
  border-right: 100vw solid transparent;
  transform: translateY(calc(-100% - -1px));
}
.section-3 .section-header h2 {
  color: var(--black);
}
.section-3 .section-header h2 span {
  color: var(--white);
}
.section-3 .section-header p {
  color: var(--black);
}
.section-3 .section-header p span {
  font-family: var(--nexa-bold);
}
.section-3 .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 900px;
  margin: 0 auto;
}
.btn3 {
  display: inline-block;
  padding: 15px 20px;
  background-color: var(--black);
  color: var(--primary-red);
  border-radius: 10px;
}
.section-4 .content {
  border: 2px solid var(--primary-red);
  border-radius: 20px;
  padding: 0 0;
  transform: scale(0.9, 0.9);
  background-color: var(--very-dark-gray);
}
.section-5 .content {
  padding: 0 50px;
  transform: scale(0.8, 0.8);
  color: #ffffffba;
}
@media screen and (max-width: 1440px) {
  .section-3 .content {
    width: 800px;
  }
}
@media screen and (max-width: 1280px) {
  .btn2 {
    font-size: 16px;
  }
  .link {
    font-size: 16px;
  }
  header .header ul li a {
    font-size: 16px;
  }
  .hero .content p {
    font-size: 18px;
  }
  .section-3 .content {
    width: 700px;
  }
}
@media screen and (max-width: 1080px) {
  #content {
    display: none;
  }
  .hero .content p {
    font-size: 16px;
  }
  .section-2 .content img {
    width: 150px;
  }
  .section-3 {
    padding: 100px 0;
  }
  .section-3::before {
    border-top: 100px solid var(--black);
  }
  .section-3::after {
    border-bottom: 100px solid var(--black);
  }
  .section-3 .content {
    flex-direction: column;
  }
}
@media screen and (max-width: 900px) {
  #section2-logo {
    display: none;
  }
  .section-header p {
    font-size: 12px;
  }
  .hero .content {
    width: 100%;
  }
  .hero .content p {
    font-size: 16px;
  }
  .section-2 .content {
    display: flex;
  }
  .section-2 .content img {
    width: 130px;
  }
  .section-3 .content {
    width: 100%;
  }
  .section-5 .content {
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .section-header p {
    font-size: 12px;
  }
  .hero .content p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    padding: 20px 25px;
  }
}
@media screen and (max-width: 500px) {
  .section-header p {
    font-size: 12px;
  }
  #navBarCTA {
    display: none;
  }
  .section-header {
    margin-bottom: 50px;
  }
  section {
    padding: 50px 0;
  }
  .hero .content .btn-box .btn2 {
    margin-right: 0;
  }
  .hero .content h1 {
    font-size: 50px;
  }
  .secondaryHeader {
    font-size: 25px;
  }
  .hero .content p {
    font-size: 13px;
  }
  .section-2 .section-header {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 400px) {
  .wrapper {
    padding: 20px 15px;
  }
  .hero .content p {
    font-size: 12px;
  }
  .section-3 {
    padding: 50px 0;
  }
  .section-3::after {
    border-bottom: 50px solid var(--black);
  }
  .section-3::before {
    border-top: 50px solid var(--black);
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    padding: 20px 15px;
  }
}
/* ----------x---------- login page ----------x---------- */

@media screen and (max-width: 500px) {
  #registerButton01 {
    width: 90% !important;
  }
  #registerButton02 {
    width: 90% !important;
  }
}
.inputText {
  all: unset;
  padding: 12px;
  background: rgba(255, 255, 255, 0.062);
  text-align: left;
  border-radius: 6px;
  margin: 5px;
  font-size: 14px;
}
#loginPanel {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#loginHeader {
  text-transform: none;
  font: var(--raleway);
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 5px;
}
#loginText {
  font-size: 14px;
  margin-bottom: 30px;
}
.primaryButton {
  all: unset;
  padding: 12px;
  background: var(--primary-red);
  text-align: left;
  border-radius: 6px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--black);
}
.primaryButton:hover {
  cursor: pointer;
}
.secondaryButton {
  all: unset;
  padding: 12px;
  border: 0.5px var(--primary-red) solid;
  text-align: left;
  border-radius: 6px;
  margin: 5px;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  transition: all 250ms;
}
.secondaryButton:hover {
  background-color: var(--primary-red);
  color: var(--black);
  cursor: pointer;
}
#loginDivider {
  color: var(--primary-red);
  padding: 20px;
  letter-spacing: 0px;
}
#loginDivider span {
  padding: 20px;
}
#rememberLabel {
  font-size: 14px;
  text-align: left;
  margin: 14px;
  margin-left: 5px;
}
.formPanel {
  background-color: rgba(255, 255, 255, 0.055);
  border-radius: 20px;
  max-width: 450px;
  padding: 30px;
  margin: auto !important;
}
#registerButton01 {
  margin-top: 20px;
  width: 50%;
}
#registerButton02 {
  width: 30%;
}
#errorText {
  font-size: 14px;
  text-align: left;
  padding: 10px;
  color: var(--primary-red);
}
.hidden {
  display: none;
}
